*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
  background-color: #E6E6E6;
}
form{
    background-color: #fff;
    padding: 25px;
    border-radius: 20px;
}
.container{
    width: 100%;
    height: 100vh;
    display:flex ;
    align-items: center;
    justify-content: center;
    
}
.container .calculator{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;

}
.calculator div{
    display:flex ;
    justify-content: center;
    align-items: center;
}
.calculator .button{
  font-size: 20px;
  font-weight: 400;
  width: 67px;
  height: 65px;
  border-radius: 13px;
  line-height: 24.2px;
  padding: 16px;
  margin: 10px;

  
}

.calculator .display{
    width: 300px;
    height: 50px;
    border: none;
    outline: none; 
    font-size: 20px;
} 
.calculator #first-child{
    color:  #D80000;
}
.calculator #last-child{
    background-color: #33C0DF;
    background-color: #04A4C7;
}
.calculator img{
    width: 17px;
}
.calculator .images{
    margin-top:10px;
    display: flex;
    justify-content:space-between;
    margin:10px 20px;
}
.button{
    background-color:  radial-gradient(81.24% 81.24% at 50.59% 50.11%, rgba(255, 255, 255, 0) 0%, #E6E6E6 100%);
   filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.55));
   border: none;
}
